
.azeqs:before {
    content: "";
    border-top: #000 solid 1px;
    border-left: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.azeqs:after {
    content: "";
    border-bottom: #000 solid 1px;
    border-left: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.azeqs {
    border-bottom: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.fsdlkj:before {
    content: "";
    border-top: #000 solid 1px;
    border-left: #000 solid 1px;
    border-right: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.fsdlkj:after {
    content: "";
    border-left: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.fsdlkj {
    border-bottom: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.ljksd:before {
    content: "";
    border-top: #000 solid 1px;
    border-left: #000 solid 1px;
    border-right: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.ljksd:after {
    content: "";
    border-left: #000 solid 1px;
    border-right: #000 solid 1px;
    border-bottom: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.ljksd {
    height: 10px;
    width: 10px;
    display: block;
}

.dfgpou:before {
    content: "";
    border-left: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.dfgpou:after {
    content: "";
    border-left: #000 solid 1px;
    border-bottom: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.dfgpou {
    height: 10px;
    width: 10px;
    display: block;
}

.sdckhvjb:before {
    content: "";
    border-left: #000 solid 1px;
    border-top: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.sdckhvjb:after {
    content: "";
    border-left: #000 solid 1px;
    border-bottom: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.sdckhvjb {
    height: 10px;
    width: 10px;
    display: block;
}

.dfhgj:before {
    content: "";
    border-right: #000 solid 1px;
    height: 10px;
    width: 5px;
    display: block;
}

.dfhgj:after {
    content: "";
    border-right: #000 solid 1px;
    border-bottom: #000 solid 1px;
    height: 10px;
    width: 5px;
    display: block;
}

.dfhgj {
    height: 10px;
    width: 10px;
    display: block;
}

.jflksd:before {
    content: "";
    border-right: #000 solid 1px;
    border-left: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.jflksd:after {
    content: "";
    border-right: #000 solid 1px;
    border-left: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.jflksd {
    height: 10px;
    border-bottom: #000 solid 1px;
    width: 10px;
    display: block;
}

.sfdhbj:before {
    content: "";
    border-top: #000 solid 1px;
    height: 0;
    width: 10px;
    display: block;
}

.sfdhbj:after {
    content: "";
    border-right: #000 solid 1px;
    height: 10px;
    width: 0;
    margin: auto;
    display: block;
}

.sfdhbj {
    width: 10px;
    display: block;
}

.fkjezef:before {
    content: "";
    border-left: #000 solid 1px;
    border-right: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.fkjezef:after {
    content: "";
    border-bottom: #000 solid 1px;
    border-left: #000 solid 1px;
    border-right: #000 solid 1px;
    height: 10px;
    width: 10px;
    margin: auto;
    display: block;
}

.fkjezef {
    height: 10px;
    width: 10px;
    display: block;
}

.boids:before {
    content: "";
    border-top: #000 solid 1px;
    border-right: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.boids:after {
    content: "";
    border-bottom: #000 solid 1px;
    border-left: #000 solid 1px;
    border-right: #000 solid 1px;
    height: 10px;
    width: 9px;
    margin: auto;
    display: block;
}

.boids {
    transform: rotateY(180deg);
    border-bottom: #000 solid 1px;
    height: 10px;
    margin-left: 5px;
    width: 5px;
    display: block;
}

.fzebiu:before {
    content: "";
    border-top: #000 solid 1px;
    border-left: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.fzebiu:after {
    content: "";
    border-bottom: #000 solid 1px;
    border-right: #000 solid 1px;
    height: 10px;
    width: 9px;
    margin: auto;
    display: block;
}

.fzebiu {
    border-bottom: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.jfhevb:before {
    content: "";
    border-top: #000 solid 1px;
    border-left: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.jfhevb:after {
    content: "";
    border-left: #000 solid 1px;
    height: 10px;
    width: 10px;
    margin: auto;
    display: block;
}

.jfhevb {
    border-bottom: #000 solid 1px;
    height: 10px;
    width: 5px;
    display: block;
}

.zedjbh:before {
    content: "";
    border-left: #000 solid 1px;
    height: 10px;
    width: 10px;
    display: block;
}

.zedjbh:after {
    content: "";
    border-left: #000 solid 1px;
    height: 10px;
    width: 10px;
    margin: auto;
    display: block;
}

.zedjbh {
    height: 10px;
    width: 5px;
    display: block;
}

.henqrkj {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.hazide {
    background: aqua;
}

.zadmkj {
    background: blueviolet;
}

.lzqhvbd {
    background: chartreuse;
}

.zmlkbdj {
    background: crimson;
}

.mjzbefkfzem {
    background: darkorange;
}

.azdafe {
    background: darksalmon;
}

.fezgrz {
    background: darkslategrey;
}

.bsrtbt {
    position: absolute;
    translate: 0 99vw;
}

.bsrtbt > *:after {
    opacity: 0;
    translate: 99vh;
    transform: rotateX(180deg);
}

.bsrtbt > *:before {
    transform: rotateY(210deg);
    opacity: 0;
    translate: -650vh;
}

.bsrtbt > * {
    translate: 500vh;
}

.trsjjtr {
    position: absolute;
    right: 0;
    display: none;
}

.trsjjtr > * {
    display: none;
    position: absolute;
    right: -900px;
}

.bsrtstnr {
    position: absolute;
    display: contents;
    background: black;
}

.bsrtstnr:before {
    position: absolute;
    content: "";
    background: #000;
    height: 50px;
    width: 50px;
    display: block;
}

.srtrst {
    background: transparent;
    position: fixed;
    transform: rotateY(90deg);
    bottom: 3000px;
    left: -800px;
}

.srtrst > *:before {
    border: transparent solid 0;
}

.srtrst > * {
    border: transparent solid 0;
}

.srtrst > *:after {
    border: transparent solid 0;
}

.mnegolr {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    top: -500px;
}

.mnegolr > * {
    display: contents;
}

.mnegolr > *:before {
    grid-column: 9;
    transform: rotate(450deg);
}

.mnegolr > *:after {
    grid-column: 1;
    grid-row: 9;
    transform: rotate(90deg);
}

.ùregrme {
    position: absolute;
    background-image: url("/img/b.jpg");
    margin-left: -90px;
}

.ùregrme > * {
    translate: 0 -20px;
    rotate: 180deg;
}
.ùregrme > *:before {
    transform: rotateZ(120deg);
    translate: 10px 10px;
}
.ùregrme > *:after {
    transform: rotateZ(150deg);
    translate: -25px;
}

.zùpoiejf {
    position: absolute;
    top: 522vw;
    right: 522vh;
}

.zùpoiejf > *:before {
    opacity: 0;
    position: absolute;
}

.zùpoiejf > *:after {
    background: black;
    position: absolute;
}

.ùerferz:before {
    content: "";
    z-index: 1;
    position: absolute;
    background: #fff;
    height: 100%;
    width: 100%;
}

.ùerferz {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
