body {
    overflow: hidden;
    margin: 0;
}

img {
    position: absolute;
    top: 2000px;
    right: 30px;
    max-width: 300px;
    max-height: 300px;
}

.réponse {
    margin: 30px;
}

#res {
    display: flex;
}

dialog {
    border: solid darkgray 1px;
}

dialog > div {
    max-width: 500px;
    text-align: justify;
}

dialog > h2 {
    margin-top: 0;
}

::backdrop {
    background: #3f3f3f;
    opacity: 0.8;
}

.spacer {
    flex: 1 1 auto;
}

.close {
    width: 100%;
}

#close-button {
    display: block;
    margin: auto;
}

header {
    display: flex;
    padding: 1rem;
}

header > #header-title {
    margin-right: 2rem;
}

header > #header-title > h2 {
    min-width: 36ch;
    min-height: 27px;
}

header > #header-title > * {
    margin: 0;
}
